.carousel {
  width: 100%;
  display: flex;
  color: transparent;
  overflow: hidden;
}
.carousel .carousel__imgs {
  position: relative;
  width: 65%;
  height: 82vh;
}
.carousel .carousel__imgs .slick-list .slick-track .carousel__imgs__item .carousel__imgs__item__img {
  width: 100%;
  height: 82vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel .carousel__imgs .slick-list .slick-track .carousel__imgs__item .menu__item__title h2 {
  color: transparent;
}
.carousel .carousel__imgs .slick-dots {
  left: 100% ;
  bottom: 0px ;
  z-index: 99999;
  width: 67%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 20px;
  margin-left: 20px;
  max-width: 588px;
  border-bottom: 2px solid white;
  padding-bottom: -1px;
}
.carousel .carousel__imgs .slick-dots li {
  width: auto;
  height: auto;
  margin: 0px;
  border: 2px solid white;
  border-bottom: none;
}
.carousel .carousel__imgs .slick-dots li button {
  color: #CC0000;
  font-size: 16px;
  padding: 30px 10px;
  min-width: 293px;
  height: auto;
  margin: 0;
  font-weight: bold;
  text-align: right;
}
.carousel .carousel__imgs .slick-dots li button:before {
  content: '';
  color: black;
  font-size: 18px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.carousel .carousel__imgs .slick-dots li:nth-of-type(1n) {
  border-left: none;
}
.carousel .carousel__imgs .slick-dots li:nth-of-type(1n) button {
  text-align: right;
}
.carousel .carousel__imgs .slick-dots li:nth-of-type(2n) {
  border-right: none;
}
.carousel .carousel__imgs .slick-dots li:nth-of-type(2n) button {
  text-align: left;
}
.carousel .carousel__imgs .slick-dots li.slick-active button {
  color: white;
}
.carousel .description {
  position: relative;
  width: 33%;
}
.carousel .description .main__description {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 20px;
  max-width: 570px;
}
.carousel .description .carousel__description {
  height: 82vh;
  max-width: 570px;
}
.carousel .description .carousel__description .slick-list {
  height: 82vh;
}
.carousel .description .carousel__description .slick-list .slick-track .carousel__description__item {
  margin-left: 20px;
}
.carousel .description .carousel__description .slick-list .slick-track .carousel__description__item .carousel__description__item__description {
  width: 100%;
  height: 100vh;
}
.carousel .description .carousel__description .slick-list .slick-track .carousel__description__item .carousel__description__item__description * {
  color: transparent;
}
.carousel .description .carousel__description .slick-dots {
  display: none;
}
.carousel .menu .menu__item .menu__item__title {
  color: white;
}
.carousel .slick-next,
.carousel .slick-prev {
  display: none !important;
}
.carousel-loading {
  position: absolute;
  z-index: 9999999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
}
.caroussel-popup {
  display: none;
  margin: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(152, 152, 152, 0.5);
}
.caroussel-popup .caroussel-popup__image {
  width: 866px;
  height: 650px;
  margin: 100px auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media screen and (max-width: 1000px) {
  .carousel {
    display: relative;
    flex-direction: column;
  }
  .carousel .carousel__imgs {
    width: 100%;
    height: auto;
    margin-top: 240px;
  }
  .carousel .carousel__imgs .slick-list .slick-track .carousel__imgs__item .menu__item__title {
    position: absolute;
    top: 0;
  }
  .carousel .carousel__imgs .slick-list .slick-track .carousel__imgs__item .carousel__imgs__item__img {
    height: 25vh;
  }
  .carousel .carousel__imgs .slick-dots {
    left: 0;
    bottom: 110%;
    width: 100%;
    max-width: 100% !important;
    justify-content: center;
    border-bottom: none;
    margin-left: 0;
    margin-right: 0;
  }
  .carousel .carousel__imgs .slick-dots li {
    border-bottom: 1px solid white;
  }
  .carousel .carousel__imgs .slick-dots li button {
    font-size: 15px;
    min-width: auto;
    width: auto;
  }
  .carousel .carousel__imgs .slick-dots li:nth-of-type(1n) {
    border-left: 1px solid white;
  }
  .carousel .carousel__imgs .slick-dots li:nth-of-type(1n) button {
    text-align: center;
  }
  .carousel .carousel__imgs .slick-dots li:nth-of-type(2n) {
    border-right: 1px solid white;
  }
  .carousel .carousel__imgs .slick-dots li:nth-of-type(2n) button {
    text-align: center;
  }
  .carousel .description {
    width: 100%;
  }
  .carousel .description .main__description {
    left: 20px;
    right: 20px;
    max-width: 98%;
    position: relative;
  }
  .carousel .description .carousel__description {
    height: auto;
    max-width: 100%;
  }
  .carousel .description .carousel__description .slick-list .slick-track .carousel__description__item {
    width: 99vw;
    padding-right: 20px;
  }
  .carousel .description .carousel__description .slick-list .slick-track .carousel__description__item .carousel__description__item__description {
    height: auto;
  }
}
.wp-block-embed iframe,
video {
  width: 60%;
  height: 60vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1000px) {
  .wp-block-embed iframe,
  video {
    width: 95%;
    height: 75vh;
  }
}
#project-list {
  min-height: 100vh;
}
#project-list .project-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#project-list .project-list > .closeActive {
  display: block !important;
}
#project-list .project-list > .close {
  display: none;
  position: fixed;
  top: 21vh;
  right: 19%;
  z-index: 999999;
  width: 50px;
  height: 28px;
  cursor: pointer;
}
#project-list .project-list > .close:hover:after {
  border-color: red;
  transform: rotate(-45deg);
  transition: transform 0.5s;
}
#project-list .project-list > .close:hover:before {
  border-color: red;
  transform: rotate(45deg);
  transition: transform 0.5s;
}
#project-list .project-list > .close:after {
  content: '';
  height: 20px;
  border-left: 2px solid white;
  position: absolute;
  transform: rotate(45deg);
  transition: transform 0.5s;
  left: 28px;
}
#project-list .project-list > .close:before {
  content: '';
  height: 20px;
  border-left: 2px solid white;
  position: absolute;
  transform: rotate(-45deg);
  transition: transform 0.5s;
  left: 28px;
}
#project-list .project-list > .project-list__item {
  position: relative;
  display: block;
  margin-right: 0px;
  margin-bottom: 0px;
  justify-content: center;
  text-align: center;
  width: 33.2%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#project-list .project-list > .project-list__item img {
  width: 100%;
}
#project-list .project-list > .project-list__item:nth-of-type(3n) {
  margin-right: 0;
}
#project-list .project-list > .project-list__item:last-of-type {
  margin-right: 0;
}
#project-list .project-list > .project-list__item .project-list__item__title {
  height: 0;
  position: absolute;
  bottom: 100px;
}
#project-list .project-list > .project-list__item .project-list__item__title div > p {
  color: transparent;
}
#project-list .project-list > .project-list__item .project-list__item__title > h4 p {
  color: transparent;
}
#project-list .project-list > .project-list__item figure,
#project-list .project-list > .project-list__item video {
  display: none;
  position: fixed;
  z-index: 9999;
}
#project-list .project-list > .project-list__item figure:before,
#project-list .project-list > .project-list__item video:before {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
}
#project-list .project-list .project-list__item.active figure,
#project-list .project-list .project-list__item.active video {
  display: block;
}
#project-list .project-list > .project-list__item:hover > .project-list__item__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  position: absolute;
  font-size: 14px;
  color: transparent;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.6);
  height: 80px;
  bottom: 0;
  right: 0;
  left: 0;
  transition: height 0.5s;
}
#project-list .project-list > .project-list__item:hover > .project-list__item__title div {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
  opacity: 1;
}
#project-list .project-list > .project-list__item:hover > .project-list__item__title div > p {
  color: white;
  margin-bottom: 0px;
  display: inline-flex;
}
#project-list .project-list > .project-list__item:hover > .project-list__item__title div p:nth-of-type(2) {
  position: relative;
  padding-left: 9px;
  margin-left: 15px;
}
#project-list .project-list > .project-list__item:hover > .project-list__item__title div p:nth-of-type(2):before {
  content: '';
  width: 2px;
  background-color: white;
  height: 100%;
  left: -4px;
  position: absolute;
}
#project-list .project-list > .project-list__item:hover > .project-list__item__title div span {
  position: absolute;
  height: 2px;
  top: 23px;
  right: 0;
  width: 100%;
  background-color: white;
}
#project-list .project-list > .project-list__item:hover > .project-list__item__title h4 {
  color: white;
  position: relative;
  display: inline;
}
#project-list .project-list > .project-list__item:hover > .project-list__item__title h4 p {
  color: white;
  position: relative;
  display: inline;
}
#project-list .project-list > .project-list__item:hover > .project-list__item__title h4 span {
  position: absolute;
  height: 2px;
  top: -7px;
  right: 0;
  width: 100%;
  background-color: white;
}
@media screen and (max-width: 700px) {
  #project-list .project-list .project-list__item {
    flex-direction: column;
    width: 99%;
    margin-left: 0;
    margin-right: 0px;
  }
}
@media screen and (max-width: 1000px) {
  #project-list .project-list .project-list__item {
    margin-left: 0px;
  }
}
.placard {
  overflow: hidden;
}
.placard .placard__title {
  color: red;
  white-space: nowrap;
  font-size: 30px;
  position: absolute;
  left: 0;
  display: flex;
}
.placard .placard__title h1 {
  padding: 20px;
  color: white;
  position: relative;
  white-space: nowrap;
  border: solid 2px white;
}
.placard .placard__title:nth-of-type(2n) h1:first-of-type {
  border-left: none;
}
.placard .placard__title:nth-of-type(2n) h1:last-of-type {
  border-right: none;
}
.placard .placard__description {
  margin-top: 170px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.placard .placard__description .placard__description-item {
  width: 14%;
  margin-right: 30px;
}
.placard .placard__description .placard__description-item div h3 {
  text-transform: uppercase;
  color: white;
}
.placard .placard__description .placard__description-item div h3:last-of-type {
  margin-bottom: 20px;
}
@media screen and (max-width: 1000px) {
  .placard {
    margin-bottom: 20px;
  }
  .placard .placard__title {
    font-size: 20px;
  }
  .placard .placard__title h1 {
    padding: 15px;
  }
  .placard .placard__description {
    margin-top: 105px;
    flex-direction: column;
    align-items: center;
  }
  .placard .placard__description .placard__description-item {
    margin-right: 20px;
    margin-left: 20px;
    max-width: 500px;
    min-width: auto;
    width: auto;
  }
}
.list-title-image {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.list-title-image .list-title-image__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 75px;
  min-width: 12%;
}
.list-title-image .list-title-image__item h3 {
  font-size: 82px;
  color: white;
  line-height: 83px;
  font-weight: bold;
  margin-bottom: 20px;
}
.list-title-image .list-title-image__item h4 {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}
.list-title-image .list-title-image__item img {
  max-width: 165px;
  max-height: 120px;
}
@media screen and (max-width: 1000px) {
  .list-title-image {
    justify-content: center;
  }
  .list-title-image .list-title-image__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 75px;
    min-width: 12%;
  }
  .list-title-image .list-title-image__item h3 {
    font-size: 30px;
    line-height: 33px;
  }
  .list-title-image .list-title-image__item h4 {
    font-size: 18px;
  }
  .list-title-image .list-title-image__item img {
    max-width: auto;
    max-height: 70px;
  }
}
.featherlight {
  top: 90px;
}
.featherlight * {
  color: white;
}
.featherlight .menu-featherlight {
  display: flex;
  flex-direction: column;
}
.featherlight .menu-featherlight #mylightbox .menu-featherlight__content {
  display: flex;
  color: white;
}
.featherlight .featherlight-content {
  border: 1px solid white;
  background-color: black !important;
  padding: 0;
  width: 33.2%;
}
.featherlight .featherlight-content #mylightbox h1 {
  text-align: center;
  padding: 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #999999;
}
.featherlight .featherlight-content #mylightbox .menu-featherlight__boxes .menu-featherlight__box {
  display: flex;
  padding: 0px 10px 30px 10px;
  margin: 0 auto;
  max-width: 407px;
}
.featherlight .featherlight-content #mylightbox .menu-featherlight__boxes .menu-featherlight__box > div {
  display: flex;
  flex-direction: column;
}
.featherlight .featherlight-content #mylightbox .menu-featherlight__boxes .menu-featherlight__box > div h3 {
  margin-bottom: 20px;
  font-weight: bold;
}
.featherlight .featherlight-content #mylightbox .menu-featherlight__boxes .menu-featherlight__box > div a {
  font-weight: 300;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}
.featherlight .featherlight-content #mylightbox .menu-featherlight__boxes .menu-featherlight__box > div a:hover {
  color: #CC0000;
  transition: color 0.4s;
}
.featherlight .featherlight-content #mylightbox .menu-featherlight__boxes .menu-featherlight__box > div p {
  font-weight: 300;
  margin-bottom: 0px;
}
.featherlight .featherlight-content #mylightbox .menu-featherlight__boxes .menu-featherlight__box > div:first-of-type {
  margin-right: 30px;
  width: 225px;
}
.featherlight .featherlight-image {
  border: 1px solid white;
}
.featherlight .featherlight-close-icon {
  color: white;
  background-color: transparent !important;
  font-size: 19px;
}
.featherlight .featherlight-close-icon:hover {
  color: #CC0000;
}
.featherlight:last-of-type {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
@media screen and (max-width: 1000px) {
  .featherlight {
    top: 90px;
  }
  .featherlight .featherlight-content {
    width: 100%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav > .menu-featherlight {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
nav > .menu-featherlight a {
  position: relative;
  font-size: 17px;
  text-decoration: none;
  color: white;
}
nav > .menu-featherlight a:hover:after {
  content: " ";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 24px;
  background-color: white;
}
nav > .menu-featherlight #mylightbox {
  display: none;
}
nav > .menu-featherlight #mylightbox .menu-featherlight__content {
  display: flex;
  color: white;
}
nav ul#main-menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  font-style: normal;
  width: 100%;
}
nav ul#main-menu > li {
  display: flex;
  position: relative;
  padding: 10px 0px 20px 20px;
}
nav ul#main-menu > li a {
  text-decoration: none;
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  font-size: 17px;
  position: relative;
  text-transform: uppercase;
  color: white;
}
nav ul#main-menu > li a:after {
  content: " ";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 25px;
  background-color: transparent;
  transition: background-color 0.4s;
}
nav ul#main-menu > li:hover > a:after {
  content: " ";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 25px;
  background-color: white;
  transition: background-color 0.4s;
}
nav ul#main-menu > li:hover > ul.sub-menu {
  display: flex;
}
nav ul#main-menu > li > ul.sub-menu {
  display: none;
  position: absolute;
  top: 45px;
}
nav ul#main-menu > li > ul.sub-menu li {
  padding-right: 20px;
  padding-bottom: 10px;
  position: relative;
}
nav ul#main-menu > li > ul.sub-menu li:after {
  content: " ";
  width: 2px;
  height: 68%;
  right: 10px;
  display: block;
  position: absolute;
  top: 0px;
  background-color: white;
}
nav ul#main-menu > li > ul.sub-menu li a {
  color: white;
}
nav ul#main-menu > li > ul.sub-menu li a:hover:after {
  content: " ";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 25px;
  background-color: white;
}
nav ul#main-menu > li > ul.sub-menu li:last-of-type:after {
  display: none;
}
nav ul#main-menu > li:first-of-type {
  padding-left: 0px;
}
nav ul#main-menu > li:last-of-type {
  padding-right: 0px;
}
#mobile-menu-trigger {
  display: none;
}
@media screen and (max-width: 1000px) {
  ul#main-menu {
    display: none;
    flex-direction: column;
  }
  ul#main-menu li {
    padding-left: 0px;
    padding-bottom: 40px;
  }
  ul#main-menu li a {
    font-size: 14px;
  }
  #mobile-menu-trigger {
    display: flex;
    background-color: transparent;
    border: none;
    z-index: 100;
    transition: right 0.6s;
    cursor: pointer;
  }
  #mobile-menu-trigger span {
    background-color: white;
    display: block;
    margin-bottom: 6px;
    height: 2px;
    width: 26px;
    opacity: 1;
    transform: rotate(0deg);
  }
  #mobile-menu-trigger > div {
    display: flex;
    flex-direction: column;
  }
  #mobile-menu-trigger > div > span:nth-child(1) {
    transform: rotate(0deg);
    transition: transform 0.6s;
  }
  #mobile-menu-trigger > div > span:nth-child(3) {
    visibility: visible;
    transform: visibility 0.6s;
  }
  #mobile-menu-trigger > div > span:nth-child(2) {
    transform: rotate(0deg);
    transition: transform 0.6s;
  }
  .menu-open #mobile-menu-trigger {
    right: 41.5%;
    transition: right 0.6s;
  }
  .menu-open #mobile-menu-trigger div {
    margin-top: 4px;
  }
  .menu-open #mobile-menu-trigger div span {
    margin-bottom: -1px;
  }
  .menu-open #mobile-menu-trigger div > span:nth-child(1) {
    transform: rotate(45deg);
    transition: transform 0.6s;
  }
  .menu-open #mobile-menu-trigger div > span:nth-child(3) {
    visibility: hidden;
    transform: visibility 0.6s;
  }
  .menu-open #mobile-menu-trigger div > span:nth-child(2) {
    margin-bottom: 8px;
    transform: rotate(-45deg);
    transition: transform 0.6s;
  }
  .menu-open ul#main-menu {
    margin-left: 0px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    display: block;
  }
  .menu-open ul#main-menu li {
    padding-left: 0;
  }
  .menu-open ul#main-menu li ul.sub-menu {
    display: block;
    flex-direction: column;
    margin-bottom: 30px;
    left: -86px;
    position: relative;
  }
  .menu-open ul#main-menu li ul.sub-menu li {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .menu-open ul#main-menu li ul.sub-menu li:after {
    display: none;
  }
}
figure,
.wp-block-image {
  margin-bottom: 25px;
}
figure figcaption,
.wp-block-image figcaption {
  width: 100%;
  font-size: 16px;
  text-align: right;
}
figure figcaption a,
.wp-block-image figcaption a {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
}
.alm-btn-wrap {
  margin: 0 !important;
}
.template-tc {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 150px;
  min-height: 60vh;
}
.template-tc .template-tc__header {
  position: relative;
  min-height: 150px;
  margin-bottom: 75px;
}
.template-tc .template-tc__header img {
  position: absolute;
  height: 150px;
  width: auto;
  margin-left: -10.5%;
}
.template-tc .template-tc__header .template-tc__title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  text-align: center;
}
.template-tc h1:nth-child(2) {
  margin-top: -203px;
  margin-bottom: 75px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .template-tc {
    padding-top: 70px;
  }
  .template-tc .template-tc__header {
    min-height: 80px;
    margin-bottom: 30px;
  }
  .template-tc .template-tc__header img {
    height: 50px;
    margin-left: -12%;
  }
  .template-tc .template-tc__header .template-tc__title {
    min-height: 50px;
  }
  .template-tc h1:nth-child(2) {
    margin-top: -100px;
  }
}
h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  font-family: 'Urbanist', sans-serif;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  color: #CC0000;
  margin-bottom: 50px;
}
h1 span {
  font-weight: bold;
}
h2 {
  font-size: 40px;
  color: #999999;
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}
h3 {
  font-size: 19px;
  line-height: 23px;
}
p {
  color: white;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}
strong {
  color: #CC0000;
}
i,
em {
  font-style: italic;
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 26px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 18px;
    line-height: 20px;
  }
}
.structure-container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
}
.structure-container .structure-container__content {
  padding-top: 110px;
  max-width: 2560px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .structure-container .structure-container .structure-container__content {
    padding-top: 70px;
  }
}
.structure-unit-block {
  max-width: 2560px;
  padding: 50px 20px;
}
@media screen and (min-width: 2560px) {
  .structure-unit-block {
    margin: 50px auto;
  }
}
@media screen and (min-width: 1000px) {
  .structure-unit-block {
    margin: 20px auto 0 auto;
  }
}
.structure-red a {
  color: #CC0000 !important;
}
.structure-red a:after {
  background-color: transparent !important;
  transition: background-color 0.4s;
}
.structure-red a:hover:after {
  background-color: #CC0000 !important;
  transition: background-color 0.4s;
}
.structure-block {
  display: flex;
  justify-content: center;
}
.structure-block .structure-block__center {
  margin: 0px auto 20px auto;
  width: 33.2%;
}
.structure-block .structure-block__center h4 {
  text-transform: uppercase;
}
@media screen and (min-width: 1460px) {
  .structure-block .structure-block__center {
    margin: 0px auto 20px auto;
    width: 32.7%;
  }
}
@media screen and (max-width: 1000px) {
  .structure-block .structure-block__center {
    width: 45%;
  }
}
@media screen and (max-width: 700px) {
  .structure-block .structure-block__center {
    width: 99%;
  }
}
@font-face {
  font-family: CircularStd;
  src: url('../resources/font/CircularStd-Bold.otf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: CircularStd;
  src: url('../resources/font/CircularStd-Book.otf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: CircularStd;
  src: url('../resources/font/CircularStd-Medium.otf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: CircularStd;
  src: url('../resources/font/CircularStd-BlackItalic.otf') format('opentype');
  font-style: italic;
}
body {
  overflow-x: hidden;
}
.block-title {
  margin-top: -200px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
}
.block-title h2 {
  margin-bottom: 0px;
}
.block-title h1 {
  margin-bottom: 0px !important;
  line-height: 85px;
  min-height: auto;
  text-transform: none;
}
.block-title h4 {
  line-height: 65px;
  margin-bottom: 0px !important;
  min-height: auto;
  text-transform: none;
}
.block-title .block-title__left {
  justify-content: flex-start;
}
.block-title .block-title__left h1 {
  text-align: left;
}
.block-title .block-title__center {
  justify-content: center;
}
.block-title .block-title__center div {
  text-align: center;
}
.block-title .block-title__center div * {
  color: inherit;
  word-wrap: break-word;
}
.block-title .block-title__right {
  justify-content: right;
}
.block-title .block-title__right h1 {
  text-align: right;
}
.block-title .block-title__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.block-title .block-title__description p {
  max-width: 680px;
  text-align: right;
}
.block-title .block-title__description p:last-of-type {
  margin-bottom: 0px;
  max-width: 680px;
  text-align: right;
}
@media screen and (max-width: 700px) {
  .block-title {
    margin-top: -100px;
  }
  .block-title h1 {
    margin-top: -10px;
    line-height: 40px;
  }
}
.link-list {
  margin-right: -13%;
}
.link-list .link-list__item {
  margin-bottom: 15px;
}
.link-list .link-list__item h3 {
  margin-bottom: 0px;
  margin-right: 5px;
}
.link-list .link-list__item a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
}
.link-list .link-list__item a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}
.link-list .link-list__item a:hover h3 {
  text-decoration: underline;
  text-decoration-color: inherit;
}
@media screen and (max-width: 700px) {
  .link-list .link-list__item a {
    font-size: 16px;
  }
}
header {
  font-family: 'CircularStd', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  margin-top: 0;
  z-index: 999;
  background-color: black;
}
header nav {
  display: flex;
  align-items: baseline;
}
header .country-selector.weglot-inline {
  position: absolute;
  right: 20px;
  top: 42px;
}
header .country-selector.weglot-inline a {
  font-size: 17px;
  text-decoration: none;
  color: white;
  position: relative;
  padding: 0;
}
header .country-selector.weglot-inline a:hover {
  color: white;
  text-decoration: none;
}
header .country-selector.weglot-inline a:hover:after {
  content: " ";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  top: 24px;
  background-color: white;
}
header .header__content {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 8px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
header .header__content > a {
  margin-right: 20px;
}
.anchor-animation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.anchor-animation h1:nth-child(2) {
  font-size: 42px;
  height: 0;
  transition: height 0.3s;
  position: absolute;
  background-color: transparent;
  color: #CC0000 !important;
  clip-path: inset(-1% -1% -9% -1%);
}
.anchor-animation:hover h1:nth-child(2) {
  height: 67%;
  transition: height 0.2s;
}
.anchor-animation:hover h1:first-of-type {
  color: black !important;
  transition: color 0.5s;
}
#logo-anchor {
  text-decoration: none;
  padding-bottom: 20px;
  color: white;
}
#logo-anchor h1 {
  font-family: "Urbanist" sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-bottom: 0px;
}
@media screen and (max-width: 700px) {
  #logo-anchor {
    top: 9px;
  }
}
@media screen and (max-width: 1000px) {
  header nav {
    display: none;
  }
  header .country-selector.weglot-inline {
    right: 70px;
  }
  header .header__content {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
  }
  header .header__content #logo-anchor {
    position: inherit;
  }
  header .header__content .header-content__name {
    text-decoration: none;
    position: inherit;
    display: none;
  }
  header .header__content .header-content__name h1 {
    white-space: nowrap;
  }
  header.menu-open nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -20px;
    left: 0px;
    top: 48px;
    padding-bottom: 100px;
  }
  header.menu-open nav .menu-featherlight {
    margin-left: 35px;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.gallery .gallery__destak {
  margin-bottom: 2px;
}
.gallery .gallery__items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.gallery .gallery__items img {
  cursor: pointer;
  width: 148px;
  height: auto;
  margin-right: 2.3px;
  margin-bottom: 2px;
}
.gallery .gallery__items img:nth-of-type(6n) {
  margin-right: 0px;
}
@media screen and (max-width: 700px) {
  .gallery .gallery__items img {
    width: 94px;
    margin-right: 2px;
  }
  .gallery .gallery__items img:nth-of-type(4n) {
    margin-right: 0px;
  }
  .gallery .gallery__items img:nth-of-type(6n) {
    margin-right: 2px;
  }
}
footer {
  border-top: 1px solid #999999;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
footer .footer__content {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
footer .footer__content .footer__content__icons {
  display: flex;
  justify-content: center;
}
footer .footer__content .footer__content__icons a {
  margin-right: 29px;
}
footer .footer__content .footer__content__icons a svg {
  width: 20px;
  height: 20px;
}
form.wpcf7-form {
  max-width: 33.2%;
  margin: 0 auto 40px auto;
}
form.wpcf7-form p {
  margin-bottom: 0px;
}
form.wpcf7-form p:last-of-type {
  border: none;
}
form.wpcf7-form label {
  height: 32px;
}
form.wpcf7-form input,
form.wpcf7-form textarea {
  border: none;
  background-color: #fffef7;
  color: black;
  padding: 5px 10px;
  font-size: 9px;
  font-family: 'CircularStd', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
  border: 1px solid #999999;
  border-bottom: none;
  width: 100%;
  border-radius: 0;
}
form.wpcf7-form input {
  height: 29px;
}
form.wpcf7-form input::placeholder {
  color: black;
  font-size: 9px;
}
form.wpcf7-form textarea::placeholder {
  color: black;
  font-size: 9px;
}
form.wpcf7-form input[type="submit"] {
  width: auto;
  margin-top: -3px;
  padding: 5px 10px;
  background-color: transparent;
  font-size: 9px;
  width: 100%;
  font-weight: 300;
  text-align: left;
  border: 1px solid #999999;
  transition: background-color 0.5s;
}
form.wpcf7-form input[type="submit"]:hover {
  color: white;
  background-color: black;
  transition: background-color 0.5s;
}
form.wpcf7-form input:-webkit-autofill,
form.wpcf7-form input:-webkit-autofill:hover,
form.wpcf7-form input:-webkit-autofill:focus,
form.wpcf7-form input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  background-color: #fffef7;
}
form.wpcf7-form .wpcf7-radio {
  display: flex;
}
form.wpcf7-form .wpcf7-radio > .wpcf7-list-item {
  margin: 0;
  width: 33.33%;
  border: 1px solid #999999;
  padding: 5px 10px;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
}
form.wpcf7-form .wpcf7-radio > .wpcf7-list-item:last-of-type {
  border-right: 1px solid #999999;
}
form.wpcf7-form .wpcf7-radio > .wpcf7-list-item:hover {
  background-color: black;
  color: white;
}
form.wpcf7-form .wpcf7-radio > .wpcf7-list-item .wpcf7-list-item-label {
  cursor: pointer;
  font-size: 9px;
  font-family: 'CircularStd', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
  width: 100%;
  border-radius: 0;
}
form.wpcf7-form .contact-option {
  display: flex;
}
form.wpcf7-form .contact-option div {
  width: 33.33%;
  border: 1px solid #999999;
  border-right: none;
  border-bottom: none;
  padding: 5px 10px;
}
form.wpcf7-form .contact-option div h4 {
  font-size: 9px;
}
form.wpcf7-form .contact-option div:last-of-type {
  border-right: 1px solid #999999;
}
form.wpcf7-form input[type="radio"] {
  display: none;
}
form.wpcf7-form .submit-arrow {
  position: relative;
}
form.wpcf7-form .submit-arrow .arrow {
  position: absolute;
  top: 8px;
  right: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
form.wpcf7-form .submit-arrow .arrow span {
  background-color: black;
  height: 1px;
  width: 9px;
}
form.wpcf7-form .submit-arrow .arrow .arrow-1 {
  transform: rotate(45deg);
  margin-bottom: 5px;
}
form.wpcf7-form .submit-arrow .arrow .arrow-2 {
  transform: rotate(-45deg);
}
form.wpcf7-form .submit-arrow:hover .arrow span {
  background-color: white;
}
.wpcf7 .ajax-loader {
  display: none;
}
@media screen and (min-width: 1460px) {
  form.wpcf7-form {
    max-width: 32.7%;
  }
}
@media screen and (max-width: 1000px) {
  form.wpcf7-form {
    margin-bottom: 30px;
    max-width: 45%;
  }
}
@media screen and (max-width: 700px) {
  form.wpcf7-form {
    margin-bottom: 30px;
    max-width: 99%;
  }
}
.woocommerce .image-columns .text-box .text-box__item br {
  display: none;
}
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form {
  margin: 30px auto 0px auto;
  max-width: 100%;
}
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form input,
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form textarea {
  background-color: #0b1d1c;
  color: white;
  border-color: white;
  margin-top: -1px;
}
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form textarea::placeholder {
  color: white;
}
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form input::placeholder {
  color: white;
}
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form input:-webkit-autofill,
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form input:-webkit-autofill:hover,
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form input:-webkit-autofill:focus,
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form input:-webkit-autofill:active {
  background-color: #0b1d1c;
}
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form input[type="submit"]:hover {
  background-color: black;
  transition: background-color 0.5s;
}
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form .submit-arrow {
  margin-top: -2px;
}
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form .submit-arrow .arrow {
  top: 10px;
}
.woocommerce .image-columns .text-box .text-box__item form.wpcf7-form .submit-arrow .arrow span {
  background-color: white;
}
@-ms-viewport {
  width: device-width;
}
