.placard {
	overflow: hidden;
	.placard__title {
		color: red;
	  white-space: nowrap;
	  font-size: 30px;
	  position: absolute;
	  left: 0;
		display: flex;
		h1 {
			color: white;
			padding: 20px;
			color: white;
			position: relative;
			white-space: nowrap;
			border: solid 2px white;
		}
	}
	.placard__title:nth-of-type(2n) {
		h1:first-of-type {
			border-left: none;
		}
		h1:last-of-type {
			border-right: none;
		}
	}
	.placard__description {
		margin-top: 170px;
		display: flex;
		justify-content: end;
		flex-wrap: wrap;
		.placard__description-item {
			width: 14%;
			margin-right: 30px;
			div {
				h3 {
					text-transform: uppercase;
					color: white;
					&:last-of-type {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: @screen-md) {
	.placard {
		margin-bottom: 20px;
		.placard__title {
		  font-size: 20px;
		  h1 {
		  	padding: 15px;
		  }
		}
		.placard__description {
			margin-top: 105px;
			flex-direction: column;
			align-items: center;
			.placard__description-item {
				margin-right: 20px;
				margin-left: 20px;
				max-width: 500px;
				min-width: auto;
				width: auto;
			}
		}
	}
}