@import './structure.less';


h1, h2, h3, h4, p, a, ul, li {
	font-family: 'Urbanist', sans-serif;
	// color: white;
}
// p, a {
// 	font-family: 'Arial', sans-serif;
// }

h1 {
	font-size: 50px;
	font-weight: bold;
	color: @red;
	margin-bottom: 50px;
	span {
		font-weight: bold;
	}
}

h2 {
	font-size: 40px;
	color: @gray;
	margin-left: 20px;
	font-weight: bold;
	margin-bottom: 50px;
}

h3 {
	font-size: 19px;
	line-height: 23px;
}

p {
	color: white;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 20px;
	font-weight: 400;
}
strong {
	color: @red;
}
i, em {
	font-style: italic;
}
/////////


@media screen and (max-width: @screen-sm) {
	h1 {
		font-size: 30px;
		margin-bottom: 20px;
		span {
		}
	}

	h2 {
		font-size: 26px;
		margin-left: 20px;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 18px;
		line-height: 20px;
	}

}